.vscode
Simulator/bin/
Simulator/obj/
Simulator/bin/Debug/netcoreapp3.1/Simulator.dll
Simulator/bin/Debug/netcoreapp3.1/Simulator.pdb
Simulator/obj/Debug/netcoreapp3.1/Simulator.csproj.CoreCompileInputs.cache
Simulator/obj/Debug/netcoreapp3.1/Simulator.dll
Simulator/obj/Debug/netcoreapp3.1/Simulator.pdb
Simulator/Program.cs
